<!DOCTYPE html>
<html>

<head>
    <title>Order Queue</title>
</head>

<body>
    <div class="header">
        <a href="/b_myButtery">My buttery</a>
        <a href="/b_orderQueue">Order queue</a>
        <a href="/b_account">Account</a>
    </div>
    <br>

    <h2>Orders in Queue</h2>
    <ul>
        {% for order in orders %}
            <li>
                {{order.menu_item}} (user: {{order.username}})
                {% if order.note %}
                    <br>Note: {{order.note}}
                {% endif %}
                <form action="/b_remove_from_queue" method="get">
                    <input type="hidden" name="order_id" value="{{order.id}}">
                    <button type="submit">Done</button>
                </form>
            </li>
        {% endfor %}
    </ul>

</body>

</html>