/* Linking Font */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Karla:ital,wght@0,200..800;1,200..800&family=Poetsen+One&family=Sen:wght@400..800&display=swap');

/* Basic Default Styling */
body {
    font-family: 'Sen', sans-serif;
    background-color: #f8f9fa;
}

p {
    font-family: 'Sen', sans-serif;
}

h1 {
    font-family: 'Poetsen One', sans-serif;
}

.card {
    max-width: 400px;
}

.card-header {
    font-family: 'Poetsen One', sans-serif;
    background-color: #0d2d63;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Can replace below with bootstrap */
.password-toggle input,
.password-toggle p {
    display: inline;
}

